@charset "utf-8";
/* CSS Document */

html {
    background-image: linear-gradient(#03957f, #007a9a, #03957f);
}

body {
    margin-top: 40px;
}

header {
    text-align: center;
    width: 90%;
    border: 5px solid;
    border-color: #39fab9;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 40px;
    background-image: linear-gradient(#007a9a, #03957f);
}

.logo {
    width: 200px;
    height: 200px;
}

.Main_Title {
    color: #39fab9;
}

main {
    border-width: 90%;
    margin: auto;
    padding-left: 5%;
    color: #39fab9;
    text-align: center;
    background-image: linear-gradient(#007a9a, #03957f);
}

nav {
    float: left;
    border: 5px solid #39fab9;
    width: 17.5%;
    margin: auto;
    margin-right: 5%;
    border-radius: 50px;
    background-image: linear-gradient(#007a9a, #03957f);
}

.Biology {
    width: 100px;
    height: 100px;
}

.Technology {
    width: 100px;
    height: 100px;
}

.HS-137 {
    width: 100px;
    height: 100px;
}

.Ships {
    width: 100px;
    height: 100px;
}



.Home {
    width: 100px;
    height: 100px;
}

article {
    float: left;
    border: 5px solid #39fab9;
    /*    width: 70%;        */
    /*  eyeballed new width for article*/
    width: 71.5%;
    margin: auto;
    border-radius: 50px;
    padding-top: 40px;
    background-image: linear-gradient(#007a9a, #03957f);
    margin-bottom: 40px;
}