@charset "utf-8";
/* CSS Document */

.red {
    color: #f00;
}

.yellow {
    color: #ff0;
}

.green {
    color: #0f0;
}

.blue {
    color: #00f;
}

.copper {
    color: #39fab9;
}

a {
    color: #39fab9;
}